#navbar {
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: calc(2vh + 2vw);
    bottom: 0;
    border-top: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 100;
}

#navbar img {
    height: 100%;
    image-rendering: crisp-edges;
    transition: all 0.1s ease-in-out;
}

#navbar img:hover {
    filter: invert(100%);
    scale: 1.1;
    background-color: white;
}

.logo {
    position: absolute;
}

.opened-apps {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease-in-out;
}

.opened-apps img {
    transition: all 0.1s ease-in-out;
}

.hidden:not(div[class="hidden menu"]) {
    opacity: 0;
    margin-left: calc(-2vh - 2vw);
}

.menu, div[class="hidden menu"] {
    display: grid;
    grid-template-columns: calc(2vh + 2vw) min-content min-content;
    grid-template-rows: repeat(3, auto) calc(2vh + 2vw);
    grid-template-areas: 
    "sidebar apps apps"
    "sidebar apps apps"
    "sidebar apps apps"
    "none none none";
    width: min-content;
    height: min-content;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    background-color: white;
    border: 1px solid black;
    border-left: none;
    border-radius: 0 calc(0.3vh + 0.3vw);
    place-items: center;
    overflow: hidden;
    border-collapse: collapse;
    transition: all 0.2s ease-in-out;
}

div[class="hidden menu"] {
    margin-bottom: -10vh;
    opacity: 0;
}

.hidden {
    opacity: 0;
}

.sidebar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, min-content) auto min-content;
    flex-direction: column;
    grid-area: sidebar;
    height: 100%;
    box-sizing: border-box;
}

.sidebar a {
    box-sizing: border-box;
    padding: 20%;
    width: 100%;
    display: flex;
    place-items: center;
    background-color: white;
    transition: all 0.1s ease-in-out;
}

.sidebar a:hover {
    filter: invert(100%);
}

.sidebar img {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1/1;
}

.sidebar a:nth-last-of-type(1) {
    grid-row: 4;
}

.menu-btn:nth-child(odd) {
    grid-column: 3;
}

.menu-btn:nth-child(even) {
    grid-column: 2;
    border-left: 1px solid black;
}

